<!DOCTYPE html>
<html>
  <%- include head %>
  <body>
    <div id="wrapper">
      <%- include menu %>   <!-- Sidebar -->
      <div id="page-content-wrapper">
        <%- include navtop %> <!-- Navigator-top -->
        <%-body -%> <!-- Content -->
      </div>
    </div>
    <%- include foot %> <!--footer-->
  </body>
</html>
